# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
* Popular languages for Data Science
* Commonly used libraries used by Data Scientists
* List of some open source Data Science tools
* Examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:

1. Python
2. R Language
3. SQL
4. Scala
5. Java

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
| ------------------ |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# his will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Rozhan Mohammadi